name: Python CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  generate:
    name: Génération manifests Kubernetes
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Installer dépendances
        run: pip install -r requirements.txt

      - name: Lancer tests
        run: pytest

      - name: Installer Kompose
        run: curl -L https://github.com/kubernetes/kompose/releases/download/v1.32.0/kompose-windows-amd64.exe -o kompose.exe

      - name: Convertir docker-compose → k8s
        run: |
          mkdir k8s
          .\kompose.exe convert -f docker-compose.yml -o k8s\

      - name: Créer PVC
        run: |
          @"
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: python-app-pvc
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 5Gi
          "@ | Out-File -FilePath k8s\python-app-pvc.yaml -Encoding utf8

      - name: Monter PVC dans Deployment
        run: |
          (Get-Content k8s\python-app-deployment.yaml) -replace '(?<=containers:)', '  - volumeMounts: [{mountPath: "/app/data", name: "python-app-storage"}]' | Set-Content k8s\python-app-deployment.yaml
          Add-Content k8s\python-app-deployment.yaml "  volumes: [{name: ""python-app-storage"", persistentVolumeClaim: {claimName: ""python-app-pvc""}}]"

      - name: Sauvegarder manifestes
        uses: actions/upload-artifact@v4
        with:
          name: k8s-manifests
          path: k8s/

  package:
    name: Packaging ZIP
    needs: generate
    runs-on: windows-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: k8s-manifests
          path: k8s

      - name: Création archive
        run: |
          mkdir KayeZabdielPython
          Move-Item k8s\* KayeZabdielPython\
          Compress-Archive -Path KayeZabdielPython\* -DestinationPath KayeZabdielPython.zip

      - uses: actions/upload-artifact@v4
        with:
          name: kube-zip
          path: KayeZabdielPython.zip

  deploy:
    name: Upload FTP
    needs: package
    runs-on: windows-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: kube-zip

      - name: Upload sur FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./KayeZabdielPython.zip
          server-dir: /RenduDevopsKube/
          dangerous-clean-slate: false
          state-name: "none"
